## Exercises 1 & 2

In [1]:
#Importing the library pandas

import pandas as pd

In [2]:
#First look at the file (20 rows)

file = pd.read_csv("bookings.csv.bz2", compression='bz2', nrows = 10000, sep = '^')
file_head20 =file.head(20)
fileinfo = file.info()
filecolumns = file.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 38 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   act_date             10000 non-null  object
 1   source               10000 non-null  object
 2   pos_ctry             10000 non-null  object
 3   pos_iata             10000 non-null  object
 4   pos_oid              10000 non-null  object
 5   rloc                 10000 non-null  object
 6   cre_date             10000 non-null  object
 7   duration             10000 non-null  int64
 8   distance             10000 non-null  int64
 9   dep_port             10000 non-null  object
 10  dep_city             10000 non-null  object
 11  dep_ctry             10000 non-null  object
 12  arr_port             10000 non-null  object
 13  arr_city             10000 non-null  object
 14  arr_ctry             10000 non-null  object
 15  lst_port             10000 non-null  object
 16  lst_city             10000 non-null  object
 17  lst_ctry             10000 non-null  object
 18  brd_port             10000 non-null  object
 19  brd_city             10000 non-null  object
 20  brd_ctry             10000 non-null  object
 21  off_port             10000 non-null  object
 22  off_city             10000 non-null  object
 23  off_ctry             10000 non-null  object
 24  mkt_port             10000 non-null  object
 25  mkt_city             10000 non-null  object
 26  mkt_ctry             10000 non-null  object
 27  intl                 10000 non-null  int64
 28  route                10000 non-null  object
 29  carrier              10000 non-null  object
 30  bkg_class            10000 non-null  object
 31  cab_class            10000 non-null  object
 32  brd_time             10000 non-null  object
 33  off_time             10000 non-null  object
 34  pax                  10000 non-null  int64
 35  year                 10000 non-null  int64
 36  month                10000 non-null  int64
 37  oid                  10000 non-null  object
dtypes: int64(6), object(32)
memory usage: 2.9+ MB

Preprocessing process .. first considerations:

    a) Turn act_date, cre_date, brd_time and offtime into datetime formats.
    b) Eliminate empty spaces in both heads and data itself.
    c) Locate NaN, senseless and null values which can distort the outcomes.

In [3]:
#Create a list with the headers without empty spaces

list_columns = list(filecolumns)
fixed_columns = []
for col in list_columns:
    fixed_columns.append(col.strip())
    
# Eventually I will use this new headers list to import the file

In [4]:
#Importation of the file but this time using the proper headers and assigning datetime format to those columns that need it

file = pd.read_csv("bookings.csv.bz2", compression='bz2', nrows = 10000, sep = '^', skiprows = 1, names = fixed_columns, parse_dates = ['act_date','cre_date','brd_time','off_time'])
file_head20 =file.head(20)
file_head20.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [5]:
test =file_head20.groupby('arr_port')['pax'].agg('sum').reset_index()
test.head()

   arr_port  pax
0  CLT         2
1  LGA         2
2  LHR        -1
3  SIN         4
4  SVO         2

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   arr_port  6 non-null      object
 1   pax       6 non-null      int64
dtypes: int64(1), object(1)
memory usage: 224.0+ bytes

In [7]:
#loop to remove white spaces in data columns:

for i, r in enumerate(file_head20['arr_port']):  
    r1 = r.strip()
    file_head20.at[i, 'arr_port'] = r1
    
# Check that works    
for i in file_head20['arr_port']:
    print(len(i))

3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3

In [8]:
column_arr_port = file_head20['arr_port']
column_arr_port.unique()

array(['LHR', 'CLT', 'SVO', 'LGA', 'SIN', 'TUS'], dtype=object)

In [9]:
# let's check if there are missing values for the first 100K rows

file = pd.read_csv("bookings.csv.bz2", compression='bz2', nrows = 100000, sep = '^', skiprows = 1, names = fixed_columns, parse_dates = ['act_date','cre_date','brd_time','off_time'])
print(str(file['year'].isnull().values.sum()) + ' repeated values for the column year in the first 100k rows')
print(str(file['pax'].isnull().values.sum()) + ' repeated values for the column passengers in the first 100k rows')
print(str(file['arr_port'].isnull().values.sum())+ ' repeated values for the column arr_port in the first 100k rows')

# let's check minimun and maximun of passenger 

min_pax = file['pax'].min()
max_pax = file['pax'].max()
median_pax = file['pax'].median()

print('Minimum value in a single row for passengers colums :' + str(min_pax))
print('Maximum value in a single row for passengers colums :' + str(max_pax))
print('Median for passengers colums :' + str(median_pax))

0 repeated values for the column year in the first 100k rows
0 repeated values for the column passengers in the first 100k rows
0 repeated values for the column arr_port in the first 100k rows
Minimum value in a single row for passengers colums :-80
Maximum value in a single row for passengers colums :70
Median for passengers colums :1.0

Note: 

At the moment I will ignore the min/max values since could be explained by a booking/cancellation of a flight booked by a travel agency.

Could be convenient to plot an histogram to see check the frequency of strange values

median = 1 --> makes sense

#### I will work by chunks to consolidate the aggregated information I need

In [10]:
df_ini = pd.DataFrame()

n_chunks = 0 # Initalization of number of chunks

rows = 0 # Initalization of number of rows

for test in pd.read_csv("bookings.csv.bz2", compression='bz2', sep = '^', skiprows = 1, names = fixed_columns, usecols = ['arr_port', 'year', 'pax'],chunksize = 200000):

    test = test[test['year'] == 2013] # filter the chunk by the year 2013
    
    test['pax'] = test['pax'].fillna(0) # replacing Nan from the column pax by 0

    arr_group = test.groupby('arr_port')['pax'].agg('sum').reset_index() # Group sum of passenger by arr_port

    for i, r in enumerate(arr_group['arr_port']):  # Eliminate white spaces from the column arr_port
        
        r1 = r.strip()
        arr_group.at[i, 'arr_port'] = r1
    
    n_chunks += 1 # Adding up a new chunk
    
    rows += len(test) # Adding up the number of lines of the chunk
    
    df_ini = df_ini.append(arr_group) # Adding in the dataset retrieved from the current chunk to the accumulated one.
    
    df_ini = df_ini.groupby('arr_port')['pax'].agg('sum').reset_index()# Group the accumulated results by arr_group
    
    print('Accumulated lines proccesed: ' + str(rows) + ' ( Number of chunks: '+ str(n_chunks) + ')')

Accumulated lines proccesed: 200000 ( Number of chunks: 1)
Accumulated lines proccesed: 400000 ( Number of chunks: 2)
Accumulated lines proccesed: 600000 ( Number of chunks: 3)
Accumulated lines proccesed: 800000 ( Number of chunks: 4)
Accumulated lines proccesed: 1000000 ( Number of chunks: 5)
Accumulated lines proccesed: 1200000 ( Number of chunks: 6)
Accumulated lines proccesed: 1400000 ( Number of chunks: 7)
Accumulated lines proccesed: 1600000 ( Number of chunks: 8)
Accumulated lines proccesed: 1800000 ( Number of chunks: 9)
Accumulated lines proccesed: 2000000 ( Number of chunks: 10)
Accumulated lines proccesed: 2200000 ( Number of chunks: 11)
Accumulated lines proccesed: 2400000 ( Number of chunks: 12)
Accumulated lines proccesed: 2600000 ( Number of chunks: 13)
Accumulated lines proccesed: 2800000 ( Number of chunks: 14)
Accumulated lines proccesed: 3000000 ( Number of chunks: 15)
Accumulated lines proccesed: 3200000 ( Number of chunks: 16)
Accumulated lines proccesed: 3400000 ( Number of chunks: 17)
Accumulated lines proccesed: 3600000 ( Number of chunks: 18)
Accumulated lines proccesed: 3800000 ( Number of chunks: 19)
Accumulated lines proccesed: 4000000 ( Number of chunks: 20)
Accumulated lines proccesed: 4200000 ( Number of chunks: 21)
Accumulated lines proccesed: 4400000 ( Number of chunks: 22)
Accumulated lines proccesed: 4600000 ( Number of chunks: 23)
Accumulated lines proccesed: 4800000 ( Number of chunks: 24)
Accumulated lines proccesed: 5000000 ( Number of chunks: 25)
Accumulated lines proccesed: 5199999 ( Number of chunks: 26)
Accumulated lines proccesed: 5399999 ( Number of chunks: 27)
Accumulated lines proccesed: 5599999 ( Number of chunks: 28)
Accumulated lines proccesed: 5799999 ( Number of chunks: 29)
Accumulated lines proccesed: 5999999 ( Number of chunks: 30)
Accumulated lines proccesed: 6199999 ( Number of chunks: 31)
Accumulated lines proccesed: 6399999 ( Number of chunks: 32)
Accumulated lines proccesed: 6599999 ( Number of chunks: 33)
Accumulated lines proccesed: 6799999 ( Number of chunks: 34)
Accumulated lines proccesed: 6999999 ( Number of chunks: 35)
Accumulated lines proccesed: 7199999 ( Number of chunks: 36)
Accumulated lines proccesed: 7399999 ( Number of chunks: 37)
Accumulated lines proccesed: 7599999 ( Number of chunks: 38)
Accumulated lines proccesed: 7799999 ( Number of chunks: 39)
Accumulated lines proccesed: 7999999 ( Number of chunks: 40)
Accumulated lines proccesed: 8199999 ( Number of chunks: 41)
Accumulated lines proccesed: 8399999 ( Number of chunks: 42)
Accumulated lines proccesed: 8599999 ( Number of chunks: 43)
Accumulated lines proccesed: 8799999 ( Number of chunks: 44)
Accumulated lines proccesed: 8999999 ( Number of chunks: 45)
Accumulated lines proccesed: 9199999 ( Number of chunks: 46)
Accumulated lines proccesed: 9399999 ( Number of chunks: 47)
Accumulated lines proccesed: 9599999 ( Number of chunks: 48)
Accumulated lines proccesed: 9799999 ( Number of chunks: 49)
Accumulated lines proccesed: 9999999 ( Number of chunks: 50)
Accumulated lines proccesed: 10000009 ( Number of chunks: 51)

In [11]:
pd.options.display.float_format = '{:,.0f}'.format # before displaying the result I change how the float numbers must be shown

top_10 = df_ini.sort_values(by='pax', ascending=False, na_position='first').head(10) # Sorting and selecting the top 10 airports

top_10

     arr_port    pax
1088      LHR 88,809
1190      MCO 70,930
1050      LAX 70,530
1047      LAS 69,630
886       JFK 66,270
315       CDG 64,490
216       BKK 59,460
1228      MIA 58,150
1719      SFO 58,000
517       DXB 55,590

Exercise 1 = 10.000.010 rows |
Exercise 2 = object top_10